In [ ]:
#1.Develop a code for the scenario predict zodiac sign
year=int(input("enter the year for zodiac sign:"))
if year%12==0:
    print("monkey")
elif year%12==1:
    print("rooster")
elif year%12==2:
    print("dog")
elif year%12==3:
    print("pig")
elif year%12==4:
    print("rat")
elif year%12==5:
    print("ox")
elif year%12==6:
    print("tiger")
elif year%12==7:
    print("rabbit")
elif year%12==8:
    print("dragon")
elif year%12==9:
    print("snake")
elif year%12==10:
    print("horse")
else:print("sheep")

enter the year for zodiac sign:2002
horse

In [16]:
#2. transport problem
dist=int(input("distance to be travel:"))
weight=int(input("weight of the goods:"))
if dist>=500:
    if weight>=100:
        cost=5
    elif weight>=10 and weight<100:
        cost=6
    else:cost=7
else:
    if weight>=100:
        cost=8
    else:cost=5
print("amount to be charged:",dist*cost)

distance to be travel:600
weight of the goods:50
amount to be charged: 3600

In [15]:
#3 The Entertainment paradise
seat=str(input("Type of seat:"))
pm=str(input("Payment Mode:"))
if seat=='Stalls':
    if pm=='Cash':
        dp=625*0.1
        price=625-dp
    else:
        dp=625*0.05
        price=625-dp
elif seat=='Circle':
    if pm=='Cash':
        dp=750*0.1
        price=750-dp
    else:
        dp=750*0.05
        price=750-dp
elif seat=='Upper class':
    if pm=='Cash':
        dp=850*0.1
        price=850-dp
    else:
        dp=850*0.05
        price=850-dp
elif seat=='Box':
    if pm=='Cash':
        dp=1000*0.1
        price=1000-dp
    else:
        dp=1000*0.05
        price=1000-dp

else: print('invalid type of seat')
print('Cost of ticket:',price)

Type of seat:Box
Payment Mode:Cash
Cost of ticket: 900.0

In [ ]:
#4 energy needed to heat water
m=int(input("Enter amount of water in Kilograms:"))
i=float(input("Enter intial temperature in celcius:"))
f=float(input("Enter final temperature in celcius:"))
q=m*(f-i)*4184
print(q)

Enter amount of water in Kilograms:2
Enter intial temperature in celcius:0
Enter final temperature in celcius:100
836800.0

In [ ]:
#5 month and season problem
month=str(input("enter month: "))
if month=='December' or month=='January' or month=='February':
    print("Winter")
elif  month=='March' or month=='April' or month=='May':
    print("Spring")
elif  month=='June' or month=='July' or month=='August':
    print("Summer")
else:
    print("Autumn")

enter month: June
Summer

In [9]:
#6 BMI
weight=float(input("enter weight in pounds:"))
height=float(input("enter height in inches:"))
weight=weight*0.45359237
height=height*0.0254
bmi=weight/(height**2)
if bmi<18.5:
    print("Underweight")
elif bmi>=18.5 and bmi<25.0:
    print("Normal")
elif bmi>=25.0 and bmi<30.0:
    print("OverWeight")
else:
    print("Obese")
print("BMI is:",bmi)

enter weight in pounds:220.462
enter height in inches:59.055
Obese
BMI is: 44.444569366961915

In [11]:
#7 sum of digits
num=int(input('Enter a number in between 100 and 1000: '))
rem=0
s=0
if num>100 and num<1000:
    while(num>0):
        rem=num%10
        s=s+rem
        num=num//10
print('sum of digits:',s)

Enter a number in between 100 and 1000: 179
sum of digits: 17

In [ ]:
#8 palindrome numbers
for i in range(1,1001):
    n=i
    rev=0
    while(i>0):
        rev=rev*10 +i%10
        i=i//10
    if(n==rev):
        print(n,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#9 Armstrong Numbers
for num in range(1,1001):
    sum=0
    temp=num
    while temp>0:
        digit=temp%10
        sum+=digit**3
        temp//=10
    if num==sum:
        print(num,end=" ")

1 153 370 371 407

In [ ]:
#10 multiples of 3 and 5
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("fizz buzz")
    elif i%3==0:
        print("Fizz",end=' ')
    elif i%5==0:
        print("Buzz",end=' ')
    else: 
        print(i,end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 fizz buzz
16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 fizz buzz
31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 fizz buzz
46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 fizz buzz
61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 fizz buzz
76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 fizz buzz
91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [ ]:
#11 spider problem
h=int(input('Height of the well:'))
u=int(input('meters climbed up in each step:'))
d=int(input('meters slip down in each step:'))
N=0
while (u-d)*N<=(h-u):
    N=N+1    
print(N+1)

Height of the well:500
meters climbed up in each step:20
meters slip down in each step:15
98